body {
    font-family: Arial, sans-serif;
    background-color: rgb(249, 244, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #game {
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    margin-top: 0;
  }
  
  h2 {
    color: #666;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  p {
    margin-bottom: 0;
  }

  .game-over {
    justify-content: center;
    align-items: center; 
  }
